.about {
  background-color: var(--bg-about);
}

.about__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7% 2%;
  background-color: var(--color-secondary);
  gap: 8px 0;
}

.about__title {
  margin: 0;
  font-weight: 500;
  font-size: 4vw;
  text-transform: uppercase;
  letter-spacing: 4px;

  span {
    font-weight: 700;
  }

  @include mobile {
    font-size: 5.5vw;
  }
}

.about__profession {
  margin: 0;
  font-size: 2vw;
  text-transform: uppercase;
  letter-spacing: 5px;

  @include mobile {
    font-size: 3.5vw;
  }
}

.about__level {
  margin: 0;
  font-size: 2vw;
  text-transform: uppercase;
  letter-spacing: 5px;

  @include mobile {
    font-size: 3.5vw;
  }
}

.about__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 7% 10%;
  list-style-type: none;
  gap: 3vw 0;

  @include mobile {
    gap: 5vw 0;
  }
}

.about__item {
  display: flex;
  flex-direction: column;
  gap: 1.8vw 0;
}

.about__subtitle {
  position: relative;
  margin: 0;
  font-weight: 600;
  font-size: 2vw;
  text-transform: uppercase;
  letter-spacing: 4px;

  &::before {
    content: "";
    position: absolute;
    bottom: -0.8vw;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-secondary);
  }

  @include mobile {
    font-size: 3.5vw;
  }
}

.about__description-group {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.5px;
  gap: 2.5vw 0;

  ul {
    list-style-type: disc;
  }
}

.about__description {
  margin: 0;
}

.about__description:last-child {
  margin: 0;
}

.about__experience-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 2.5vw 0;
}

.about__experience-item {
  display: grid;
  gap: 0 3vw;
  grid-template-columns: auto 1fr;
}

.about__experience-group {
  display: flex;
  flex-direction: column;
  gap: 0.5vw 0;
  grid-area: 1/2/2/3;
}

.about__position {
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.about__company {
  margin: 0;
}

.about__time {
  grid-area: 1/1/2/2;
}

.about__technology-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 1vw;
  grid-template-columns: repeat(2, 1fr);

  li {
    display: flex;

    &::before {
      content: "➣";
      padding-right: 5px;
      color: var(--color-secondary);
    }
  }
}

.about__project-list {
  display: grid;
  margin: 0.5vw 0 0;
  padding: 0;
  list-style-type: none;
  gap: 1vw;
  grid-template-columns: repeat(3, 1fr);

  li {
    border: 1px solid var(--color-secondary);
  }
}

.about__project-link {
  opacity: 1;
  transition: opacity $trans-default;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include hover-focus {
    opacity: 0.6;
  }

  @include active {
    opacity: 0.3;
  }
}
