.about__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 15px;
  background-color: $color-tangerine-yellow;
  gap: 8px 0;
}

.about__title {
  margin: 0;
  font-weight: 500;
  font-size: 37px;
  text-transform: uppercase;
  letter-spacing: 4px;

  span {
    font-weight: 700;
  }
}

.about__profession {
  margin: 0;
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.about__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 40px 60px;
  list-style-type: none;
  gap: 23px 0;
}

.about__item {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}

.about__subtitle {
  position: relative;
  margin: 0;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 4px;

  &::before {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color-tangerine-yellow;
  }
}

.about__description {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.about__experience-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 25px 0;
}

.about__experience-item {
  display: grid;
  gap: 0 53px;
  grid-template-columns: auto 1fr;
}

.about__experience__group {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  grid-area: 1/2/2/3;
}

.about__position {
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.about__company {
  margin: 0;
}

.about__time {
  grid-area: 1/1/2/2;
}

.about__technologies {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.about__technology {
  display: flex;

  &::before {
    content: "➣";
    padding-right: 5px;
    color: $color-tangerine-yellow;
  }
}

.about__projects {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.about__project-link {
  opacity: 1;
  transition: opacity $trans-default;

  @include hover-focus {
    opacity: 0.6;
  }

  @include active {
    opacity: 0.3;
  }
}

.about__language-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 10px 0;
}

.about__language-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 10px;
}

.about__language {
  width: 150px;
  margin: 0;
}

.about__progress {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 13px;
  background-color: $color-valhalla;
  border-radius: 50px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $color-tangerine-yellow;
    border-radius: 50px;
  }

  span {
    padding: 0 5px 0 0;
    font-size: 10px;
    color: $color-tangerine-yellow;
  }

  &--russian {
    &::before {
      width: 100%;
    }
  }

  &--english {
    &::before {
      width: 10%;
    }
  }
}
