.about {
  background-color: $color-black-russian-3;
}

.about__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7% 2%;
  background-color: $color-tangerine-yellow;
  gap: 8px 0;
}

.about__title {
  margin: 0;
  font-weight: 500;
  font-size: 4vw;
  text-transform: uppercase;
  letter-spacing: 4px;

  span {
    font-weight: 700;
  }
}

.about__profession {
  margin: 0;
  font-size: 2vw;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.about__level {
  margin: 0;
  font-size: 2vw;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.about__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 7% 10%;
  list-style-type: none;
  gap: 3vw 0;
}

.about__item {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}

.about__subtitle {
  position: relative;
  margin: 0;
  font-weight: 600;
  font-size: 2vw;
  text-transform: uppercase;
  letter-spacing: 4px;

  &::before {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color-tangerine-yellow;
  }
}

.about__description-group {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.5px;
  gap: 2.5vw 0;

  ul {
    list-style-type: disc;
  }
}

.about__description {
  margin: 0;
}

.about__description:last-child {
  margin: 0;
}

.about__stature-list {
  padding-left: 20px;

  a {
    transition: color $trans-default;

    @include hover-focus {
      color: $color-tangerine-yellow;
    }

    @include active {
      color: rgba($color-tangerine-yellow, 0.7);
    }
  }
}

.about__experience-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 2.5vw 0;
}

.about__experience-item {
  display: grid;
  gap: 0 53px;
  grid-template-columns: auto 1fr;
}

.about__experience-group {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  grid-area: 1/2/2/3;
}

.about__position {
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.about__company {
  margin: 0;
}

.about__time {
  grid-area: 1/1/2/2;
}

.about__technology-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 1vw;
  grid-template-columns: repeat(2, 1fr);

  li {
    display: flex;

    &::before {
      content: "➣";
      padding-right: 5px;
      color: $color-tangerine-yellow;
    }
  }
}

.about__project-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.about__project-link {
  opacity: 1;
  transition: opacity $trans-default;

  @include hover-focus {
    opacity: 0.6;
  }

  @include active {
    opacity: 0.3;
  }
}
