.info {
  display: flex;
  flex-direction: column;
  padding: 12% 7% 12% 13%;
  background-color: var(--bg-info);

  @include mobile {
    padding: 7% 10%;
  }
}

.info__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 3vw 0;

  @include mobile {
    gap: 5vw 0;
  }
}

.info__item {
  display: flex;
  flex-direction: column;
  gap: 1.8vw 0;
}

.info__subtitle {
  position: relative;
  margin: 0;
  font-weight: 600;
  font-size: 2vw;
  color: var(--color-secondary);
  text-transform: uppercase;
  letter-spacing: 3px;

  &::before {
    content: "";
    position: absolute;
    bottom: -0.8vw;
    width: 108.7%;
    height: 2px;
    background-color: var(--color-secondary);
  }

  @include mobile {
    font-size: 3.5vw;

    &::before {
      width: 113%;
    }
  }
}

.info__educations-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 0 20px;
  list-style-type: none;
  gap: 2.5vw 0;

  li {
    display: flex;
    flex-direction: column;
    gap: 0.6vw 0;
  }
}

.info__header {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;

  a {
    transition:
      opacity $trans-default,
      color $trans-default;

    @include hover-focus {
      color: var(--color-secondary);
    }

    @include active {
      opacity: 0.7;
    }
  }
}

.info__education-name {
  display: block;
  font-size: 1.3vw;
  transition:
    opacity $trans-default,
    color $trans-default;

  @include hover-focus {
    color: var(--color-secondary);
  }

  @include active {
    opacity: 0.7;
  }

  @include mobile {
    font-size: 2.8vw;
  }
}

.info__time {
  font-size: 1.3vw;

  @include mobile {
    font-size: 2.8vw;
  }
}

.info__certificates-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 0 20px;
  list-style-type: none;
  font-size: 1.3vw;
  gap: 2vw 0;

  a {
    transition:
      opacity $trans-default,
      color $trans-default;

    @include hover-focus {
      color: var(--color-secondary);
    }

    @include active {
      opacity: 0.7;
    }
  }

  @include mobile {
    font-size: 2.8vw;
  }
}

.info__contacts-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 0 20px;
  list-style-type: none;
  gap: 2vw 0;

  li {
    display: flex;
    flex-direction: column;
    gap: 0.6vw 0;
  }
}

.info__contact-title {
  position: relative;
  z-index: 0;
  margin: 0;
  font-weight: 600;

  &::before {
    content: "";
    position: absolute;
    top: -2%;
    left: -30%;
    z-index: -1;
    width: 139%;
    height: 104%;
    background-color: var(--bg-contact);
  }

  &::after {
    content: "";
    position: absolute;
    top: -2%;
    left: -30%;
    z-index: -1;
    width: 25%;
    height: 104%;
    background-color: var(--color-secondary);
  }

  @include mobile {
    &::before {
      width: 144%;
    }
  }
}

.info__contact-link {
  font-size: 1.3vw;
  transition:
    opacity $trans-default,
    color $trans-default;

  @include hover-focus {
    color: var(--color-secondary);
  }

  @include active {
    opacity: 0.7;
  }

  @include mobile {
    font-size: 2.8vw;
  }
}
