.info {
  max-width: 462px;
  color: $color-default-white;
  background-color: $color-black-russian-1;
}

.info__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 71px 35px 71px 90px;
  list-style-type: none;
  gap: 60px 0;
}

.info__subtitle {
  position: relative;
  margin: 0 0 45px;
  font-weight: 600;
  font-size: 24px;
  color: $color-tangerine-yellow;
  text-transform: uppercase;
  letter-spacing: 3px;

  &::before {
    content: "";
    position: absolute;
    bottom: -20px;
    width: calc(100% + 35px);
    height: 2px;
    background-color: $color-tangerine-yellow;
  }
}

.info__educations {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 0 28px;
  list-style-type: none;
  gap: 25px 0;
}

.info__education {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}

.info__header {
  margin: 0 0 4px;
  font-weight: 600;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.info__name {
  display: block;
  font-size: 16px;
  line-height: 19px;
}

.info__time {
  font-size: 16px;
}

.info__certificates {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 0 28px;
  list-style-type: none;
  font-size: 16px;
  gap: 25px 0;
}
