.info {
  display: flex;
  flex-direction: column;
  padding: 12% 7% 12% 13%;
  color: $color-default-white;
  background-color: $color-black-russian-1;

  @include mobile {
    padding: 7% 10%;
  }
}

.info__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 3vw 0;
}

.info__item {
  display: flex;
  flex-direction: column;
  gap: 1.8vw 0;
}

.info__subtitle {
  position: relative;
  margin: 0;
  font-weight: 600;
  font-size: 2vw;
  color: $color-tangerine-yellow;
  text-transform: uppercase;
  letter-spacing: 3px;

  &::before {
    content: "";
    position: absolute;
    bottom: -0.8vw;
    width: 108.7%;
    height: 2px;
    background-color: $color-tangerine-yellow;
  }

  @include mobile {
    &::before {
      width: 113%;
    }
  }
}

.info__educations-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 0 20px;
  list-style-type: none;
  gap: 2.5vw 0;

  li {
    display: flex;
    flex-direction: column;
    gap: 0.6vw 0;
  }
}

.info__header {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;

  a {
    transition: color $trans-default;

    @include hover-focus {
      color: $color-tangerine-yellow;
    }

    @include active {
      color: rgba($color-tangerine-yellow, 0.7);
    }
  }
}

.info__education-name {
  display: block;
  font-size: 1.3vw;
  transition: color $trans-default;

  @include hover-focus {
    color: $color-tangerine-yellow;
  }

  @include active {
    color: rgba($color-tangerine-yellow, 0.7);
  }
}

.info__time {
  font-size: 1.3vw;
}

.info__certificates-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 0 20px;
  list-style-type: none;
  font-size: 1.3vw;
  gap: 2vw 0;

  a {
    transition: color $trans-default;

    @include hover-focus {
      color: $color-tangerine-yellow;
    }

    @include active {
      color: rgba($color-tangerine-yellow, 0.7);
    }
  }
}

.info__contacts-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 0 20px;
  list-style-type: none;
  gap: 2vw 0;

  li {
    display: flex;
    flex-direction: column;
    gap: 0.6vw 0;
  }
}

.info__contact-title {
  position: relative;
  z-index: 0;
  margin: 0;
  font-weight: 600;

  &::before {
    content: "";
    position: absolute;
    top: -2%;
    left: -30%;
    z-index: -1;
    width: 139%;
    height: 104%;
    background-color: $color-black-russian-2;
  }

  &::after {
    content: "";
    position: absolute;
    top: -2%;
    left: -30%;
    z-index: -1;
    width: 25%;
    height: 104%;
    background-color: $color-tangerine-yellow;
  }

  @include mobile {
    &::before {
      width: 144%;
    }
  }
}

.info__contact-link {
  font-size: 1.3vw;
  transition: color $trans-default;

  @include hover-focus {
    color: $color-tangerine-yellow;
  }

  @include active {
    color: rgba($color-tangerine-yellow, 0.7);
  }
}
