.resume {
  display: grid;
  font-size: 1.5vw;
  grid-template-columns: 36% 64%;
  grid-template-rows: 40vw auto;

  @include mobile {
    font-size: 3vw;
    grid-template-columns: 1fr;
    grid-template-rows: 113vw auto;
  }
}

.resume__photo {
  background-color: $color-valhalla;
  border: 1px solid var(--color-secondary);
  transition: border $trans-default;
  grid-area: 1/1/2/2;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.resume__about {
  grid-area: 1/2/3/3;

  @include mobile {
    grid-area: auto;
  }
}

.resume__info {
  grid-area: 2/1/3/2;

  @include mobile {
    grid-area: auto;
  }
}
