.resume {
  display: grid;
  font-size: 1.5vw;
  grid-template-columns: 36% 64%;
  grid-template-rows: minmax(20%, 300px) 1fr;

  @include mobile {
    font-size: 3vw;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.resume__photo {
  background-color: var(--bg-info);
  transition: background-color $trans-default;
  grid-area: 1/1/2/2;

  @include mobile {
    display: flex;
    justify-content: center;
    background-color: var(--bg-photo);

    img {
      max-width: 500px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.resume__about {
  grid-area: 1/2/3/3;

  @include mobile {
    grid-area: auto;
  }
}

.resume__info {
  grid-area: 2/1/3/2;

  @include mobile {
    grid-area: auto;
  }
}
