.resume {
  display: grid;

  img {
    height: 100%;
    background-color: $color-valhalla;
    grid-area: 1/1/2/2;
    object-fit: cover;
  }
}

.resume__about {
  grid-area: 1/2/3/3;
}

.resume__info {
  grid-area: 2/1/3/2;
}
