@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "ShantellSans";
  font-display: swap;
  src:
    url("../fonts/shantellsans-medium.woff2") format("woff2"),
    url("../fonts/shantellsans-medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "ShantellSans";
  font-display: swap;
  src:
    url("../fonts/shantellsans-semibold.woff2") format("woff2"),
    url("../fonts/shantellsans-semibold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "ShantellSans";
  font-display: swap;
  src:
    url("../fonts/shantellsans-bold.woff2") format("woff2"),
    url("../fonts/shantellsans-bold.woff") format("woff");
}
